body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cont-sub {
    width: 70vw;
    height: 70vh;
    padding-top: 8vh;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px #000;
}

/* Logo */
.cont-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 30vh;
}

/* Form */
.form-control {
    border-color: unset !important;
}

/* Button */
.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

.btn-login {
    color: #ffffff;
    text-decoration: none;
}

.btn-register {
    color: #ffffff;
    text-decoration: none;
}


/* Texts */
.or-text {
    display: flex;
    padding: 20px 0px 10px 0px;
    justify-content: center;
}

.terms {
    padding-top: 20px;
    font-size: small;
    text-align: justify;
    color: rgb(160, 160, 160);
}

.tos {
    color: black;
    font-style: normal;
}

.sign-up i {
    color: #8a8a8a;
    font-size: small;
    font-style: normal;
}

.sign-up a {
    color: #000;
    font-size: small;
    text-decoration: none;
}