/* Navbar Main */

.navbar-nav {
    padding-right: 20px;
}

.navbar {
    background-color: transparent !important;
    transition: all 0.2s ease-in-out;
}

.navbar-scrolled {
    background-color: white !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Navbar Brand */
.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-weight: 700;
    color: white !important;
}

.navbar-brand-scrolled {
    padding-left: 20px;
    color: black !important;
    transition: 0.2s ease-in-out;
}

/* Navbar Link */
.nav-link-scrolled {
    color: black !important;
    transition: 0.2s ease-in-out;
}

.nav-item {
    padding-right: 30px;
}

/* Logo */
.logo {
    width: 48px;
    padding-left: 20px;
    transition: filter 0.2s ease-in-out;
}

.inverted {
    filter: invert(1);
}

